In [223]:
import pandas as pd
import numpy as np

In [95]:
import os

folder_path = "C:/Users/HP/Downloads/races_dataset/raw"  

file=[]


for root, dirs, files in os.walk(folder_path):
    # print(f"Directory: {root}")
    # print(f"Subdirectories: {dirs}")
    # print(f"Files: {files}\n")
    root_path=root.split('\\')
    root_path='/'.join(root_path)
    for i in files:
        if not i.endswith('.ipynb') and not i.endswith('.DS_Store'):
            path=f'{root_path}/{i}'
            file.append(path)
today_date = pd.to_datetime('today')

In [67]:
df_dict={}

for i in file :
    if i.endswith('.csv'):
        name=i.split('/')[-1].split('.')[0]
        if name.startswith('lap_times_split'):
            column_for_lap_file=['race_id','driver_id','lap','position','time','milliseconds']
            df_dict[f'{name}_df']=pd.read_csv(i,header=None)
            df_dict[f'{name}_df'].columns=column_for_lap_file
        else:
            df_dict[f'{name}_df']=pd.read_csv(i)
    elif i.endswith('.json'):
        try:
            name=i.split('/')[-1].split('.')[0]
            df_dict[f'{name}_df']=pd.read_json(i, lines=True)
        except ValueError:
            name=i.split('/')[-1].split('.')[0]
            df_dict[f'{name}_df']=pd.read_json(i)
    else:
        print('no')

In [55]:
for i in df_dict:
    print(i)

circuits_df
constructors_df
drivers_df
pit_stops_df
races_df
results_df
lap_times_split_1_df
lap_times_split_2_df
lap_times_split_3_df
lap_times_split_4_df
lap_times_split_5_df
qualifying_split_1_df
qualifying_split_2_df

In [123]:
df_dict={}

data_source=str(input('enter enviroment : '))
for i in file :
    if i.endswith('.csv'):
        name=i.split('/')[-1].split('.')[0]
        if name.startswith('lap_times_split'):
            column_for_lap_file=['race_id','driver_id','lap','position','time','milliseconds']
            if f'{name[0:-8]}_df' not in df_dict:
                df_dict[f'{name[0:-8]}_df']=pd.read_csv(i,header=None)
                df_dict[f'{name[0:-8]}_df'].columns=column_for_lap_file
                df_dict[f'{name[0:-8]}_df']['data_source']=data_source
                df_dict[f'{name[0:-8]}_df']['ingestion_date']=today_date
            else:  
                df=pd.read_csv(i,header=None)
                df.columns=column_for_lap_file
                df['data_source']=data_source
                df_dict[f'{name[0:-8]}_df']=pd.concat([df_dict[f'{name[0:-8]}_df'],df])
                df_dict[f'{name[0:-8]}_df'].reset_index(drop=True,inplace=True) 
                df_dict[f'{name[0:-8]}_df']['ingestion_date']=today_date
        else:
            df_dict[f'{name}_df']=pd.read_csv(i)
            df_dict[f'{name}_df']['data_source']=data_source
            df_dict[f'{name}_df']['ingestion_date']=today_date
    elif i.endswith('.json'):
        try:
            name=i.split('/')[-1].split('.')[0]
            df_dict[f'{name}_df']=pd.read_json(i, lines=True)
            df_dict[f'{name}_df']['data_source']=data_source
            df_dict[f'{name}_df']['ingestion_date']=today_date
        except ValueError:
            name=i.split('/')[-1].split('.')[0]
            if name.startswith('qualifying_split'):
                if f'{name[0:-8]}_df' not in df_dict:
                    df_dict[f'{name[0:-8]}_df']=pd.read_json(i)
                    df_dict[f'{name[0:-8]}_df']['data_source']=data_source
                    df_dict[f'{name[0:-8]}_df']['ingestion_date']=today_date
                else:  
                    df=pd.read_json(i)
                    df['data_source']=data_source
                    df_dict[f'{name[0:-8]}_df']=pd.concat([df_dict[f'{name[0:-8]}_df'],df])
                    df_dict[f'{name[0:-8]}_df'].reset_index(drop=True,inplace=True)
                    df_dict[f'{name[0:-8]}_df']['ingestion_date']=today_date
                    
            else:        
                df_dict[f'{name}_df']=pd.read_json(i)
                df_dict[f'{name}_df']['data_source']=data_source
                df_dict[f'{name}_df']['ingestion_date']=today_date
    else:
        print('no')

enter enviroment :  development

In [124]:
for df in df_dict:
    df = df_dict[df]
    
    column=list(df.columns)
    for column_name in column:
        if not column_name.islower() and column_name.isalpha():
            for letter in column_name:
                if letter.isupper():
                    pos=column_name.index(letter)
                    word1=column_name[0:pos]
                    word2=column_name[pos:].lower()
                    column_name_changed=word1+'_'+word2
                    df.rename(columns={column_name:column_name_changed},inplace=True)
        col_dict={'lat':'lattitude', 'lng':'longitude', 'alt':'altitude'}            
        if column_name in ('lat', 'lng', 'alt') :
            df.rename(columns={column_name:col_dict[column_name]},inplace=True)
    try:
        df.drop(columns=['url'], inplace=True)
    except Exception as e:
        pass

In [125]:
from unidecode import unidecode
for i in df_dict:
    if i=='drivers_df':
        df=df_dict[i]
        names=df['name']
        full_name=[]
        for name in names:
            full_name.append(unidecode(name['forename'])+' '+unidecode(name['surname']))
        df.insert(4,'full_name',value=full_name)
        df.drop(columns=['name'],inplace =True)

print(df)

     driver_id         driver_ref number code          full_name         dob  \
0            1           hamilton     44  HAM     Lewis Hamilton  1985-01-07
1            2           heidfeld     \N  HEI      Nick Heidfeld  1977-05-10
2            3            rosberg      6  ROS       Nico Rosberg  1985-06-27
3            4             alonso     14  ALO    Fernando Alonso  1981-07-29
4            5         kovalainen     \N  KOV  Heikki Kovalainen  1981-10-19
..         ...                ...    ...  ...                ...         ...
848        850  pietro_fittipaldi     51  FIT  Pietro Fittipaldi  1996-06-25
849        851             aitken     89  AIT        Jack Aitken  1995-09-23
850        852            tsunoda     \N  TSU       Yuki Tsunoda  2000-05-11
851        853            mazepin     \N  MAZ     Nikita Mazepin  1999-03-02
852        854    mick_schumacher     \N  SCH    Mick Schumacher  1999-03-22

    nationality  data_source             ingestion_date
0       British  development 2024-07-18 15:25:21.626198
1        German  development 2024-07-18 15:25:21.626198
2        German  development 2024-07-18 15:25:21.626198
3       Spanish  development 2024-07-18 15:25:21.626198
4       Finnish  development 2024-07-18 15:25:21.626198
..          ...          ...                        ...
848   Brazilian  development 2024-07-18 15:25:21.626198
849     British  development 2024-07-18 15:25:21.626198
850    Japanese  development 2024-07-18 15:25:21.626198
851     Russian  development 2024-07-18 15:25:21.626198
852      German  development 2024-07-18 15:25:21.626198

[853 rows x 9 columns]

In [59]:
lap_times_df=pd.DataFrame()
qualifying_df=pd.DataFrame()
for i in df_dict :
    if i.startswith('lap_times_split'):
        lap_times_df=pd.concat([lap_times_df,df_dict[i]])
        lap_times_df .reset_index(drop=True) 
    elif i.startswith('qualifying_split'):
        qualifying_df=pd.concat([qualifying_df,df_dict[i]])
        qualifying_df .reset_index(drop=True)

In [151]:
for i in df_dict:
    print(i)

circuits_df
constructors_df
drivers_df
pit_stops_df
races_df
results_df
lap_times_df
qualifying_df

In [153]:
df = df_dict['circuits_df']
df.to_parquet('circuits____________________df',index=False)

In [154]:
df = df_dict['constructors_df']
df.to_parquet('constructors____________________df',index=False)

In [226]:

df = df_dict['drivers_df']
def convert_to_null(val):
    if isinstance(val, str):
        return np.nan
    return val
df['number'] = df['number'].apply(convert_to_null)

df.to_parquet('drive____________________df',index=False)

In [221]:
df = df_dict['pit_stops_df']
df.fillna(np.nan,inplace=True)
df['duration']=df['duration'].astype('str')
df.to_parquet('pit_stops____________________df',index=False)

In [224]:
df = df_dict['races_df']
df.to_parquet('races____________________df',index=False)

In [229]:
df = df_dict['results_df']
df['number'] = df['number'].apply(convert_to_null)
df.to_parquet('results____________________df',index=False)

ArrowInvalid: ("Could not convert 'R' with type str: tried to convert to int64", 'Conversion failed for column position_text with type object')

numpy.int64

In [121]:
from unidecode import unidecode

original_name = 'Räikkönen'
converted_name = unidecode(original_name)

print(converted_name)

Raikkonen

In [149]:
new_parquet_df = pd.read_parquet('drive____________________df')

,driver_id,driver_ref,number,code,full_name,dob,nationality,data_source,ingestion_date
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,development,2024-07-18 15:25:21.626198
1,2,heidfeld,0,HEI,Nick Heidfeld,1977-05-10,German,development,2024-07-18 15:25:21.626198
2,3,rosberg,6,ROS,Nico Rosberg,1985-06-27,German,development,2024-07-18 15:25:21.626198
3,4,alonso,14,ALO,Fernando Alonso,1981-07-29,Spanish,development,2024-07-18 15:25:21.626198
4,5,kovalainen,0,KOV,Heikki Kovalainen,1981-10-19,Finnish,development,2024-07-18 15:25:21.626198
...,...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,Pietro Fittipaldi,1996-06-25,Brazilian,development,2024-07-18 15:25:21.626198
849,851,aitken,89,AIT,Jack Aitken,1995-09-23,British,development,2024-07-18 15:25:21.626198
850,852,tsunoda,0,TSU,Yuki Tsunoda,2000-05-11,Japanese,development,2024-07-18 15:25:21.626198
851,853,mazepin,0,MAZ,Nikita Mazepin,1999-03-02,Russian,development,2024-07-18 15:25:21.626198
852,854,mick_schumacher,0,SCH,Mick Schumacher,1999-03-22,German,development,2024-07-18 15:25:21.626198