In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('sales_data.csv')

In [77]:
sales=df.copy()

In [78]:
sales.dropna()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [19]:
#How many unique countries are represented in the sales data?

country=sales['Country'].unique()
len(country)

6

In [20]:
#What is the total revenue generated by the sales data?
total_revenue=sales['Revenue'].sum()
total revenue

85271008

In [21]:
#How many different product categories are there in the sales data?

Product_Category=sales['Product_Category'].unique()
len(Product_Category)

3

In [23]:
#What is the average order quantity for each product category?

average_order_quantity=sales.groupby('Product_Category')['Order_Quantity'].mean()
average_order_quantity

Product_Category
Accessories    15.033685
Bikes           1.401393
Clothing       15.043286
Name: Order_Quantity, dtype: float64

In [26]:
#How many orders were placed in each year?
orders_in_each_year=sales.groupby('Year')['Order_Quantity'].count()
orders_in_each_year

Year
2011     2677
2012     2677
2013    24443
2014    29398
2015    24443
2016    29398
Name: Order_Quantity, dtype: int64

In [27]:
#What is the total profit earned in each year?
total_profit_in_each_year=sales.groupby('Year')['Profit'].sum()
total_profit_in_each_year

Year
2011    2881301
2012    2951993
2013    5959208
2014    5864087
2015    7528563
2016    7035948
Name: Profit, dtype: int64

In [29]:
#What is the average unit price for each product sub-category?
average_unit_price_sub_category=sales.groupby('Sub_Category')['Unit_Price'].mean()
round(average_unit_price_sub_category,2)

Sub_Category
Bike Racks            120.00
Bike Stands           158.66
Bottles and Cages       6.43
Caps                    9.00
Cleaners                8.00
Fenders                21.99
Gloves                 24.00
Helmets                35.00
Hydration Packs        54.97
Jerseys                51.86
Mountain Bikes       1973.94
Road Bikes           1898.90
Shorts                 70.00
Socks                   9.22
Tires and Tubes         9.98
Touring Bikes        1734.94
Vests                  68.81
Name: Unit_Price, dtype: float64

In [30]:
#How many orders were placed by customers in each age group?

orders_customers_in_each_age_group=sales.groupby('Age_Group')['Order_Quantity'].count()
orders_customers_in_each_age_group

Age_Group
Adults (35-64)          55824
Seniors (64+)             730
Young Adults (25-34)    38654
Youth (<25)             17828
Name: Order_Quantity, dtype: int64

In [31]:
#What is the total revenue generated by male customers in each country?
revenue_by_male=sales[sales['Customer_Gender']=='M']['Revenue'].sum()
revenue_by_male

43335409

In [32]:
#What is the total revenue generated by female customers in each state?
revenue_by_female=sales[sales['Customer_Gender']=='F']['Revenue'].sum()
revenue_by_female

41935599

In [33]:
#How many products were sold in each month?

products_sold_each_month=sales.groupby('Month')['Order_Quantity'].sum()
products_sold_each_month

Month
April        118467
August       103119
December     133312
February     104717
January      110367
July          89787
June         128591
March        111085
May          125715
November     108637
October      108348
September    103171
Name: Order_Quantity, dtype: int64

In [34]:
#What is the total cost incurred for each product sub-category?
total_cost_each_product_sub_category=sales.groupby('Sub_Category')['Cost'].sum()
total_cost_each_product_sub_category

Sub_Category
Bike Racks             213345
Bike Stands            142140
Bottles and Cages      598576
Caps                   470856
Cleaners                82930
Fenders                496819
Gloves                 359765
Helmets               2360878
Hydration Packs        417738
Jerseys               3510174
Mountain Bikes       12963063
Road Bikes           23284186
Shorts                 706368
Socks                   54000
Tires and Tubes       1943189
Touring Bikes         5015609
Vests                  430272
Name: Cost, dtype: int64

In [35]:
#What is the average unit cost for each product?
average_unit_cost_each_product = sales.groupby('Product')['Unit_Cost'].mean()
average_unit_cost_each_product

Product
AWC Logo Cap                    7.0
All-Purpose Bike Stand         59.0
Bike Wash - Dissolver           3.0
Classic Vest, L                24.0
Classic Vest, M                24.0
                              ...
Touring-3000 Yellow, 62       461.0
Water Bottle - 30 oz.           2.0
Women's Mountain Shorts, L     26.0
Women's Mountain Shorts, M     26.0
Women's Mountain Shorts, S     26.0
Name: Unit_Cost, Length: 130, dtype: float64

In [79]:


# sales['Date'] = pd.to_datetime(sales['Date'],
#                             errors ='coerce')
# sales['Date'].astype('int64').dtypes
# all_dates=sales['Date']

# week = all_dates.dt.strftime('%U')
# sales['week']=week
# sales['week_day']=all_dates.dt.weekday
# sales

In [80]:
#How many orders were placed on each day of the week?
sales['Date'] = pd.to_datetime(sales['Date'], errors='coerce')
order_each_day_of_week = sales.groupby(sales['Date'].dt.weekday)['Order_Quantity'].sum()
order_each_day_of_week

Date
0    190157
1    192453
2    190480
3    194683
4    190413
5    195702
6    191428
Name: Order_Quantity, dtype: int64

In [81]:
#What is the total revenue generated in each month of the year?

total_revenue_each_month=sales.groupby('Month')['Revenue'].sum()
total_revenue_each_month

Month
April        7602750
August       5711193
December     9086931
February     6834583
January      7005895
July         5721459
June         9043008
March        7347164
May          8836763
November     6244298
October      5995079
September    5841885
Name: Revenue, dtype: int64

In [83]:
#How many orders were placed for each product?

order_placed_each_product=sales.groupby('Product')['Order_Quantity'].count()
order_placed_each_product

Product
AWC Logo Cap                   4358
All-Purpose Bike Stand          452
Bike Wash - Dissolver          1804
Classic Vest, L                 318
Classic Vest, M                 320
                              ...
Touring-3000 Yellow, 62          72
Water Bottle - 30 oz.         10794
Women's Mountain Shorts, L      516
Women's Mountain Shorts, M      662
Women's Mountain Shorts, S      620
Name: Order_Quantity, Length: 130, dtype: int64

In [84]:
#What is the total profit margin for each product category?

total_profit_each_product=sales.groupby('Product')['Profit'].sum()
total_profit_each_product

Product
AWC Logo Cap                   78008
All-Purpose Bike Stand        201064
Bike Wash - Dissolver         116008
Classic Vest, L               157319
Classic Vest, M               161740
                               ...
Touring-3000 Yellow, 62        18371
Water Bottle - 30 oz.         417843
Women's Mountain Shorts, L    286059
Women's Mountain Shorts, M    394913
Women's Mountain Shorts, S    355189
Name: Profit, Length: 130, dtype: int64

In [88]:
#How many orders were placed by customers of each gender in each country?
orders_placed_by_customers_each_gender_in_each_country=sales.groupby(['Country','Customer_Gender'])['Order_Quantity'].count()
orders_placed_by_customers_each_gender_in_each_country

Country         Customer_Gender
Australia       F                  11506
                M                  12430
Canada          F                   6496
                M                   7682
France          F                   5504
                M                   5494
Germany         F                   5572
                M                   5526
United Kingdom  F                   6712
                M                   6908
United States   F                  18934
                M                  20272
Name: Order_Quantity, dtype: int64

In [91]:
#What is the total revenue generated by customers in each age group?
total_revenue_each_age_group=sales.groupby('Age_Group')['Revenue'].sum()

total_revenue_each_age_group

Age_Group
Adults (35-64)          42584153
Seniors (64+)             308042
Young Adults (25-34)    30655614
Youth (<25)             11723199
Name: Revenue, dtype: int64

In [92]:
#What is the average order quantity for each product sub-category?
average_order_quantity_each_product_sub_category=sales.groupby('Sub_Category')['Order_Quantity'].mean()
average_order_quantity_each_product_sub_category

Sub_Category
Bike Racks            8.008446
Bike Stands           5.289474
Bottles and Cages    15.225876
Caps                 15.435521
Cleaners             15.301887
Fenders              15.411210
Gloves               14.883842
Helmets              14.937161
Hydration Packs      14.928036
Jerseys              14.663062
Mountain Bikes        1.354416
Road Bikes            1.472152
Shorts               15.143813
Socks                15.755793
Tires and Tubes      15.177177
Touring Bikes         1.256896
Vests                15.068465
Name: Order_Quantity, dtype: float64